{% load static %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>

    {% block title %}
        CDH to CDP
    {% endblock %}

</title>
<div class="btn-group" style="float:right; padding: 20px;">
<button type="button" class="btn btn-primary btn-sm" >Help</button>
</div>
<br>
<center>


    <img src="{% static 'Capgemini_Logo_2COL_RGB.png' %}" width="360" height="180">

<!--    <h4 style="color:DodgerBlue; text-shadow:  0 0 10px #0000FF;">Accelerator for HDP/CDH to CDP Platform Upgrade</h4>-->
    <h3 style="color:DodgerBlue; "> <b>Accelerator for HDP/CDH to CDP Platform Upgrade </b></h3>


</center>

</head>
<body>

    {% block content %} {% endblock %}

</body>
</html>