
{% extends "base.html" %}
{% block content %} 

<div class="btn-group-vertical" style="padding-left: 100px;padding-top: 30px; color:aquamarine; width:500px">
    <button type="button" class="btn btn-primary btn-lg"  onclick="location.href = '/page2'">Refactor Hive</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg"  onclick="location.href = '/page2'">Refactor Spark</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg">Workflow</button>
    <br>
    </div>
    <br>
    <br>
    <div class="btn-group" style="padding-left: 100px;">
            <button type="button" class="btn btn-primary btn-lg" style="margin-right: 150px;width:400px">-------</button>
          
            <button type="button" class="btn btn-primary btn-lg" style="width:400px">AI Optimization</button>

    
    </div>





{% endblock %}