{% extends "base.html" %}
{% block content %}

<div class="container" style="position:initial;">
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-10">
            <script>
 
            $('#Files').filestyle({
            
            buttonText : 'Multiple',
            
            buttonName : 'btn-primary'
            
            });
            

            </script>

            <form action="/Upload/" enctype="multipart/form-data" method="post">
                {% csrf_token %}

                {{ form.as_p }}
                <!-- <input type="file" class="form-control" id="Files"  name='File[]' multiple="multiple"/>
               <br> -->
                {%if status%}
                <i> Files Uploaded Successfully</i>
                {%else%}
                <input class="btn btn-primary" id="file_1" style="width:200px" type="submit" value="Upload"/>
                {%endif%}
            </form>

            <style>
              .centered-div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-left: auto;

              }

            </style>

            <div class="centered-div">

            <form action="/submit/" enctype="multipart/form-data" method="post">
                {% csrf_token %}

                <label for="files">Select target folder</label>
                <br>
                <!--            <button type="button">Select path to Save files</button>-->
                <input directory id="flup" mozdirectory msdirectory multiple name="path" odirectory type="text"
                       webkitdirectory/>
                <br>
                <br>
                               <button class="btn btn-primary btn-lg" style="width:400px" type="submit" value="submit">Submit</button>
                <a href="file:///C:/Users/SCHILLAL/PycharmProjects/Accelerator/Media/destination_folder/index.html"
                   target="_blank">Target folder link</a>
                <!--                <a href="file:///C:/path/to/your/folder/">Link Text</a>-->

            </form>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>

{% endblock %}